# pycharm
.idea

# python
venv
__pycache__

# allure
allure-results
allure-reports

# testing artifacts
*.html
*.json
tracing
videos

# coverage
coverage.html
coverage-history.json
coverage-report.json
coverage-results
